Address steps of M&S life cycleDescribe the problem 10Literature Review and references 5-10Conceptual Model 50  Input 5  Output 5  Content 10    random numbers    constants    parameters    intersections    intersection events    floor fields    directed graph thingy and djikstra    queue or lack thereof in intersection  Assumptions and Simplifications 30Description of simulation software 10  Architecture 5  Interfaces 5Working Simulator Code Submitted 25  Doesn’t have to be the final version of Simulation  Include Read Me file for running instructions